<h2>Listagem de Produtos</h2>
<hr>
  <div class="d-flex">
    <div class="flex-fill pe-3">
      <div class="input-group flex-nowrap mb-3">
        <div class="input-group-text" id="addon-wrapping">Filtro:</div>
        <input type="text" class="form-control mr-2" placeholder="buscar" [(ngModel)]="filtroLista">
      </div>
    </div>
  </div>
<!-- table.table.table-striped>(thead.thead-dark>tr>th*8) -->
<table class="table table-striped">
  <!-- <thead class="thead-dark">  -->
  <thead class="table-light">
    <tr class="bg-warning">
      <th>Nome do Produto</th>
      <th>Preço</th>
      <th>Preço Promoção</th>
      <th>Estoque</th>
      <th>Visível</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody *ngIf="produtos">
    <tr *ngFor="let produto of produtos">
  <tr>
      <td>{{produtos.nome}}</td>
      <td>{{produtos.preco}}</td>
      <td>{{(produtos.preco - 20)}}</td>
      <td>{{produtos.estoque}}</td>
      <td><i class="fa-solid fa-eye-slash"></i></td>
      <td>
        <!-- <button type="button" class="btn btn-primary btn-sm mr-2">Editar</button> -->
        <button type="button" class="btn btn-primary btn-sm mx-2">Editar</button>
        <button type="button" class="btn btn-danger btn-sm">Excluir</button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!produtos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum produto encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>

<div>{{produtos | json}}</div>

<div>aaa: {{produtos.produtoId}}</div>

